
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dde6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


.form-container h2 {
    color: #1877f2;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.btn1, .btn2 {
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;
}

.btn1 {
    background-color: #3498db;
    color: white;
}

.btn2 {
    background-color: #3498db;
    color: white;
    text-decoration: none;
}

.btn1:hover, .btn2:hover {
    background-color: #023e5a;
}

.signup-link {
    margin-top: 20px;
    color: #555;
    font-size: 14px;
}

.left-content {
    margin-bottom: 20px;
    background-color: #f9fafb;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.left-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 20px;
    color: #06418f;
}
