body{
    margin: 0;
    padding: 0;
    height: 50vh;
    justify-content:center;
    align-items:center;
    display: flex;
}
.btn{
    /* Mise en forme des boutons */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight:  bold;
    background: #ea650d;
    width: 100px;
    padding: 10px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f29811;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px hsla(36, 92%, 51%, 0.502) ;

    /* Effets de transition au survol, focus et clic sur le bouton */
     -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;


}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px hsla(36, 92%, 51%, 0.502);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
h2{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 0.5cm;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    color: hsl(0, 0%, 0%);
}


/* Style du bouton en orange */
.btn.btn-primary.btn-orange {
    background-color: orange;
    border-color: orange;
    color: white;
  }
  
  /* Style du bouton en orange au survol */
  .btn.btn-primary.btn-orange:hover {
    background-color: darkorange;
    border-color: darkorange;
    color: white;
  }